// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$--secunday: #FF9900;
$--primary: rgba(0, 0, 0, 0.66);
$--font-txt: 20px;

* {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;

}

.colum1{
    background-color: $--secunday;
}


.sidebard {
    // background-color: $--secunday;
    height: 55.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.sidebard img{
    width: 50rem;
    margin-top: -80px;
    

}

.containerScroll {
    position: relative;
    width: 24px;
    height: 24px;
    margin-bottom: 50px;
}

.chevron {
    position: absolute;
    width: 58px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}


@keyframes pulse {
    to {
        opacity: 1;
    }
}

.imgs{
    margin-top: 40px;
    text-align: center;
}

.imgs .container img{
    width: 100rem;
    height: 300px;
    border-radius: 20px;
}

#img-container {
    width: auto;
    height: auto;
}

.text-container {
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}
// ------ HEADER---------------------------



// .container-nav{
//     position: sticky;
// }

// header ul li{
//     font-family: "Roboto", sans-serif;
//     font-weight: 200;
//     font-style: normal;
// }


// --- SECTION TEXT BANNER

.container-text{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
 
    justify-content: center;
}

.container-text p{
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    white-space: wrap;

   
}

.imgs .container img{
    width: 60rem;
}

/* End of header*/
/*==========About Section============*/
#about{
    padding: 40px;

}

.about{
    margin: 30px 0;
    display: flex;
}
.about-icon {
    font-size: 60px;
    color: black;
    margin-right: 20px;
}
.about-icon img{
    width: 100px;
    border-radius: 10px;
}
.about-subtitle{
    text-transform: capitalize;
    color: $--secunday;
    font-size: 25px;
}
.about-info{
    margin-top: 10px;
    line-height: 1.5;
    font-weight: 200;
}

.about-icon:hover .fas,
.about-subtitle:hover{
 transition: transform 2s ease, color 2s ease;
 transform: translateY(-10px);
    color: #cd6100;
    cursor: pointer;
}
@media screen and (min-width: 576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex: 0 0 calc(50% - 16px);
    }
}
@media screen and (min-width:972px){
    .about{
        flex: 0 0 calc(33.3% - 16px);
    }
}


.slider {
    position: relative;
    width: 80rem;
    height: 300px;
    margin: 50px auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: 1px $--secunday solid;
    border-radius: 2px;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
  
    list-style: none;
    text-align: center;
  }
  
  .slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #212121;
    transition: background-color 0.2s linear;
  }
  
  #btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color: $--secunday;
  }
  
  #btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: $--secunday;
  }
  
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: $--secunday;
  }
  
  /* SLIDES */
  
  .slides {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
  
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
  }
  
  .slide-content {
    width: 400px;
  }
  
  .slide-title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .slide-text {
    margin-bottom: 20px;
  }
  
  .slide-link {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    background-color: $--secunday;
  }
  
  .slide-image img {
    max-width: 100%;
  }
  
  /* Slide animations */
  #btn-1:checked ~ .slides .slide:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-2:checked ~ .slides .slide:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-3:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      opacity: 1;
    }
  
    50% {
      transform: translatex(50%);
      opacity: 0;
    }
  
    100% {
      transform: translatex(100%);
    }
  }
  
  .container-formulario{

  }