// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

$--secunday: #FF9900; 
$--primary: rgba(0, 0, 0, 0.66);

*{
    margin: 0;
    padding: 0;
}
.sidebard {
  height: 62.5rem;
  background: $--secunday;
}